<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script>
    // Initialize Firebase
    messaging.requestPermission()
            .then(() => {
                console.log('Have permission');
                return messaging.getToken();
            })
            .then(token => {
                console.log(`Received FCM token: ${token}`);
            })
            .catch((err) => {
                console.log('Error Occured: ' + err)
            });

    messaging.onMessage(payload => {
      console.log('onMessage: ',payload);
    })
</script>
