<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script>
    // Initialize Firebase
    const config = {
        apiKey: "AIzaSyDIAJoqvdfiqbBhtJWofuLQyLFRuDPhCxM",
        authDomain: "cloud-messaging-tutorial-1dfc1.firebaseapp.com",
        databaseURL: "https://cloud-messaging-tutorial-1dfc1.firebaseio.com",
        projectId: "cloud-messaging-tutorial-1dfc1",
        storageBucket: "cloud-messaging-tutorial-1dfc1.appspot.com",
        messagingSenderId: "249077514611"
    };
    firebase.initializeApp(config);

    const messaging = firebase.messaging();
    messaging.requestPermission()
            .then(() => {
                console.log('Have permission');
                return messaging.getToken();
            })
            .then(token => {
                console.log(`Received FCM token: ${token}`);
            })
            .catch((err) => {
                console.log('Error Occured: ' + err)
            });
</script>
